* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito-sans', sans-serif;
}

@media (max-width: 320px) {
    /* ### ESTILIZAÇÕES DE ITENS DO HEADER ### */
    .cupom-desconto {
        background-color: #005cff;

        width: 100vw;
        height: 3.25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .2em;
    }

    .cupom-desconto p {
        color: #FFF;
        font-weight: 500;
        font-size: .8em;

        margin: 0;
    }

    .cupom-desconto__preco {
        background-color: #6220c1;
        padding: .2em;
    }

    .cupom-desconto__desconto {
        font-weight: 300;
    }

    .icones-e-busca {
        width: 100vw;
        height: 8.25rem;

        margin-top: .5em;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu-e-carrinho {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 1em;
        padding-right: 1em;
    }

    .menu-hamburger {
        width: 23px;
        height: 21px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-hamburger div {
        border: .5px solid #000
    }

    .carrinho-wrapper {
        position: relative;
    }

    .itens-carrinho {
        background-color: #005cff;
        width: 1em;
        height: 1em;

        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 1rem;
        
        padding: .7rem;

        font-weight: 400;

        position: absolute;

        top: -.6em;
        right: -.5em;
    }

    .busca {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #busca-produtos {
        height: 2.5rem;
        width: 96vw;

        border: 1px solid #ccc;
        border-radius: .7em;

        margin-left: .8em;
        margin-right: .8em;

        padding: 1em;
    }

    #busca-produtos:focus {
        outline: 0;
    }

    .icone-lupa {
        width: 1.16rem;
        height: 1.16rem;

        margin-left: 85%;

        position: absolute;
    }

    .resultado-busca {
        margin-left: .8em;
        margin-top: .5em;

        font-weight: 400;
    }


    /* ### ESTILIZAÇÃO DO BANNER DE DESCONTO ### */
    .banner-desconto-desktop {
        display: none;
    }

    .slide {
        height: 19.12rem;
        width: 100vw;
    }

    .carousel-inner .w-100 {
        height: 19.12rem;
    }

    .carousel-item {
        height: inherit;
    }

    li {
        list-style: none;
    }

    .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #303030;
    }

    #slide-carousel {
        display: block;
    }


    /* ### ESTILIZAÇÃO DA SEÇÃO DE LANÇAMENTOS ### */
    .lancamentos {
        height: 33.62rem;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lancamentos__container {
        width: 18.8rem;
        height: 26.62rem;

        margin-left: 1em;
        margin-right: 1em;
    }

    .subtitulo-e-botao {
        display: flex;
        justify-content: space-between;
    }

    .subtitulo-e-botao h2 {
        font-size: 1em;
        font-weight: 700;
    }

    .subtitulo-e-botao a {
        font-size: .87em;
        font-weight: 700;
        text-decoration: underline;
        color: #000;
    }

    .cards-container {
        width: 100%;
        height: 22.81rem;

        display: flex;
        justify-content: space-between;
    }

    .cards-container .card {
        border: 1px solid #ddd;

        width: 10em;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card .container-imagem-lancamento {
        background: url('../../assets/images/home-blusa-branca.png');

        height: 9rem;
        width: 9rem;
    }

    .lancamento-novo-produto {
        background-color: #00264e;

        border-radius: .25em;

        

        width: 2.56rem;
        height: 1.43rem;
    }

    .lancamento-novo-produto {
        color: #FFF;
        font-size: .62rem;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card h3 {
        font-size: .82em;
        font-weight: 400;

        margin-left: .6em;
    }

    .preco-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 4rem;
        width: 95%;
    }

    .preco-e-desconto {
        display: flex;
        justify-content: space-between;

        height: 2.37rem;
    }

    .porcentagem-desconto {
        background-color: #5EC0BE;

        color: #FFF;
        font-size: 0.68em;
        font-weight: 700;

        height: 1.25rem;
        width: 4rem;

        text-align: center;
    }

    .preco-e-desconto .preco-anterior {
        font-size: .7em;
        font-weight: 400;
    }

    .preco-e-desconto .preco-atual {
        font-weight: 700;
        font-size: 1em;
    }

    .preco-novo {
        display: flex;
        flex-direction: column;

        height: 2.36rem;
    }

    .parcelamento {
        font-size: 0.71em;
    }

    .parcelamento span {
        font-weight: 700;
    }

    .botao-comprar {
        width: 8.6rem;
        height: 2rem;

        margin-bottom: .6em;

        background: #005CFF;

        border-radius: .3em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-comprar a {
        color: #FFF;
        font-size: 0.87em;
        font-weight: 700;

        text-decoration: none;
    }
}








@media (min-width: 321px) {
    /* ### ESTILIZAÇÕES DE ITENS DO HEADER ### */
    .cupom-desconto {
        background-color: #005cff;

        width: 100vw;
        height: 3.25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .2em;
    }

    .cupom-desconto p {
        color: #FFF;
        font-weight: 500;
        font-size: .9em;

        margin: 0;
    }

    .cupom-desconto__preco {
        background-color: #6220c1;
        padding: .2em;
    }

    .cupom-desconto__desconto {
        font-weight: 300;
    }

    .icones-e-busca {
        width: 100vw;
        height: 8.25rem;

        margin-top: .5em;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu-e-carrinho {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 1em;
        padding-right: 1em;
    }

    .menu-hamburger {
        width: 23px;
        height: 21px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-hamburger div {
        border: .5px solid #000
    }

    .carrinho-wrapper {
        position: relative;
    }

    .itens-carrinho {
        background-color: #005cff;
        width: 1em;
        height: 1em;

        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 1rem;
        
        padding: .7rem;

        font-weight: 400;

        position: absolute;

        top: -.6em;
        right: -.5em;
    }

    .busca {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #busca-produtos {
        height: 2.5rem;
        width: 96vw;

        border: 1px solid #ccc;
        border-radius: .7em;

        margin-left: .8em;
        margin-right: .8em;

        padding: 1em;
    }

    #busca-produtos:focus {
        outline: 0;
    }

    .icone-lupa {
        width: 1.16rem;
        height: 1.16rem;

        margin-left: 85%;

        position: absolute;
    }

    .resultado-busca {
        margin-left: .8em;
        margin-top: .5em;

        font-weight: 400;
    }


    /* ### ESTILIZAÇÃO DO BANNER DE DESCONTO ### */
    .banner-desconto-desktop {
        display: none;
    }

    .slide {
        height: 19.12rem;
    }

    .carousel-inner .w-100 {
        height: 19.12rem;
    }

    .carousel-item {
        height: inherit;
    }

    li {
        list-style: none;
    }

    .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #303030;
    }

    #carousel {
        display: block;
    }


    /* ### ESTILIZAÇÃO DA SEÇÃO DE LANÇAMENTOS ### */
    .lancamentos {
        height: 33.62rem;
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lancamentos__container {
        width: 21rem;
        height: 26.62rem;

        margin-left: 1em;
        margin-right: 1em;
    }

    .subtitulo-e-botao {
        display: flex;
        justify-content: space-between;
    }

    .subtitulo-e-botao h2 {
        font-size: 1em;
        font-weight: 700;
    }

    .subtitulo-e-botao a {
        font-size: .87em;
        font-weight: 700;
        text-decoration: underline;
        color: #000;
    }

    .cards-container {
        width: 100%;
        height: 22.81rem;

        display: flex;
        justify-content: space-between;
    }

    .cards-container .card {
        border: 1px solid #ddd;

        width: 10em;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cards-container .carousel-inner {
        display: flex;
    }

    .card .container-imagem-lancamento {
        background: url('../../assets/images/home-blusa-branca.png');

        height: 9.87rem;
        width: 9.87rem;
    }

    .lancamento-novo-produto {
        background-color: #00264e;

        border-radius: .25em;

        

        width: 2.56rem;
        height: 1.43rem;
    }

    .lancamento-novo-produto {
        color: #FFF;
        font-size: .62rem;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card h3 {
        font-size: .87em;
        font-weight: 400;

        margin-left: .6em;
    }

    .preco-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 4rem;
    }

    .preco-e-desconto {
        display: flex;
        justify-content: space-between;

        height: 2.37rem;
    }

    .porcentagem-desconto {
        background-color: #5EC0BE;

        color: #FFF;
        font-size: 0.68em;
        font-weight: 700;

        height: 1.25rem;
        width: 4rem;

        text-align: center;
    }

    .preco-e-desconto .preco-anterior {
        font-size: .75em;
        font-weight: 400;
    }

    .preco-e-desconto .preco-atual {
        font-weight: 700;
    }

    .preco-novo {
        display: flex;
        flex-direction: column;

        height: 2.36rem;
    }

    .parcelamento {
        font-size: 0.75em;
    }

    .parcelamento span {
        font-weight: 700;
    }

    .botao-comprar {
        width: 9.2rem;
        height: 2.3rem;

        margin-bottom: .6em;

        background: #005CFF;

        border-radius: .3em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .botao-comprar a {
        color: #FFF;
        font-size: 0.87em;
        font-weight: 700;

        text-decoration: none;
    }

    /* ### ESTILIZAÇÃO DA SEÇÃO COM PRIMEIRA CANECA ### */
    .banner-primeira-caneca {
        height: 45.75rem;
        width: 100vw;

        margin-top: 1.4rem;
    }

    .banner-primeira-caneca img {
        width: 100%;
    }

    .banner-primeira-caneca h2 {
        padding: 1rem;

        font-weight: 700;
        font-size: 1.5em;

        text-transform: uppercase;
    }

    .banner-primeira-caneca p {
        padding-left: 1em;
        padding-right: 1em;

        font-size: .87em;
        font-weight: 400;
    }

    /* ### ESTILIZAÇÃO DA SEÇÃO COM SEGUNDA CANECA ### */
    .banner-segunda-caneca {
        background-color: #DEDEDE;

        height: 44.81rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .banner-segunda-caneca h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.25em;
    }
     

    .banner-segunda-caneca__container-texto {
        height: 15.12rem;
        width: 21.87rem;
    }

    .banner-segunda-caneca__container-texto--conteudo {
        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: .4em;
    }

    .banner-segunda-caneca__container-texto--conteudo p {
        font-weight: 400;
        font-size: .8rem;

        margin-left: 1em;
        line-height: 1.4em;
    }

    /* ### ESTILIZAÇÃO DA SEÇÃO COM TERCEIRA CANECA ### */
    .banner-terceira-caneca img {
        width: 100vw;

        margin-top: 3.5rem;
    }

    .banner-terceira-caneca h2 {
        padding: 1rem;

        font-weight: 700;
        font-size: 1.5em;

        text-transform: uppercase;
    }

    .banner-terceira-caneca p {
        padding-left: 1em;
        padding-right: 1em;

        font-size: .87em;
        font-weight: 400;
    }

    /* ### ESTILIZAÇÃO DA SEÇÃO COM IMAGEM DO ESCRITÓRIO ### */
    .banner-escritorio-avanti {
        height: 28.06rem;

        background: url('../../assets/images/banner-escritorio-avanti.png');
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2.7rem;
    }

    .banner-escritorio-avanti .contato {
        background-color: #005CFF;

        height: 4.68rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-escritorio-avanti .contato p{
        color: #fff;
        font-weight: 600;
        font-size: 1rem;

        margin: auto;
        text-align: center;
    }

    /* ### ESTILIZAÇÃO DA SEÇÃO DE NEWSLETTER ### */
    .newsletter {
        height: 26.62rem;
        width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .newsletter-cadastro {
        font-weight: 600;
    }

    .newsletter span {
        color: #005CFF;

        font-weight: 600;
    }

    #formulario-newsletter {
        background-color: #F5F5F5;

        height: 17.75rem;
        width: 20rem;

        border-radius: .6rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #formulario-newsletter form {
        height: 13rem;
        width: 20.37rem;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #formulario-newsletter form input[type=text] {
        border: none;
        border-radius: .4em;

        margin-bottom: .5em;

        padding-left: 1em;

        height: 3rem;

        margin-left: .6em;
        margin-right: .6em;
    }

    #formulario-newsletter form input[type=email] {
        border: none;
        border-radius: .4em;

        padding-left: 1em;

        height: 3rem;

        margin-left: .6em;
        margin-right: .6em;
    }

    #formulario-newsletter form input[type=submit] {
        background-color: #005CFF;

        border: none;
        border-radius: .6em;

        color: #FFF;

        font-weight: 700;

        padding: .7rem;
    }

    .politica-de-privacidade {
        height: 1rem;
        
        display: flex;
        align-items: center;
        justify-content: center;

        margin: .5em 0;
    }

    .politica-de-privacidade p {
        color: #656565;

        font-size: .75em;
        font-weight: 700;

        height: 0;

        margin-left: 1em;
        margin-bottom: 1.5em;
    }

    .politica-de-privacidade span {
        font-weight: 700;

        color: #656565;

        text-decoration: underline;
    }
}


/* ### ESTILIZAÇÃO PARA DISPOSITIVOS MAIORES QUE 768px ### */
@media (min-width: 768px) {
    .banner-desconto-desktop {
        width: 100vw;
        height: 16.7rem;
    
        background-color: #E7E7EA;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-desconto-desktop img {
        width: 22rem;
    }

    #slide-carousel {
        display: none;
    }
}