* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* ### ESTILIZAÇÕES DE ITENS DO HEADER ### */

.cupom-desconto {
    background-color: #005cff;

    width: 100vw;
    height: 3.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2em;
}

.cupom-desconto p {
    color: #FFF;
    font-weight: 500;
    font-size: .9em;

    margin: 0;
}

.cupom-desconto__preco {
    background-color: #6220c1;
    padding: .2em;
}

.cupom-desconto__desconto {
    font-weight: 300;
}

.icones-e-busca {
    width: 100vw;
    height: 8.25rem;

    margin-top: .5em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-e-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;
}

.menu-hamburger {
    width: 23px;
    height: 21px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-hamburger div {
    border: .5px solid #000
}

.carrinho-wrapper {
    position: relative;
}

.itens-carrinho {
    background-color: #005cff;
    width: 1em;
    height: 1em;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    
    padding: .7rem;

    font-weight: 400;

    position: absolute;

    top: -.6em;
    right: -.5em;
}

.busca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#busca-produtos {
    height: 2.5rem;
    width: 96vw;

    border: 1px solid #ccc;
    border-radius: .7em;

    margin-left: .8em;
    margin-right: .8em;

    padding: 1em;
}

#busca-produtos:focus {
    outline: 0;
}

.icone-lupa {
    width: 1.16rem;
    height: 1.16rem;

    margin-left: 85%;

    position: absolute;
}

.resultado-busca {
    margin-left: .8em;
    margin-top: .5em;

    font-weight: 400;
}


/* ### ESTILIZAÇÃO DO BANNER DE DESCONTO ### */
